@font-face{
  font-family: 'Harryp';
  src: url('../quiz/fonts/HARRYP.TTF');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------ESTILOS GENERALES------------------------- */
html {
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
}

/* ----------------------------HEADER---------------------------------- */
header {
  text-align: center;
  height: 10vh;
}
header a.special {
  font-family: 'Harryp';
  color: #000;
  font-size: 7.5vh;
  text-decoration: none;
  position: relative;
  top: 14px;
}
.special{
  font-family: 'Harryp';
  color: #000;
}
.hogwarts{
  font-family: 'Harryp';
  color: #000;
  font-size: 6vh;
  text-align: center;
  margin: 10px 0;
  line-height: 1.25em;
}

/* -----------------------MAIN onBoard----------------------- */
main div#onBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Langar', cursive;
  margin: 8vh 3vw;
  /* padding: 10vh 8vw; */
  background-color: rgb(255, 255, 255, 0.35);
  font-size: 3.5vh;
  border-radius: 10px;
  padding: 4%;
  line-height: 1.5em;
}
main p.message {
  color: rgb(56, 56, 56);
}
main a.button {
  text-decoration: none;
  color: #fff;
  margin: 5vh 10vw 0 10vw;
  background-color: rgb(37, 27, 4);
  padding: 3%;
  border-radius: 5px;
  font-size: 6vh;
}
main a:hover {
  background-color: #fff;
  color: rgb(37, 27, 4);
}
main div p span.special {
  font-family: 'Langar', cursive;
  color: rgb(37, 27, 4);
  font-size: 1em;
}
/* ----------------------MAIN game------------------ */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Langar', cursive;
  font-size: 3.5vh;
  width: 90vw;
  text-align: left;
  padding: 2%;
  margin: 9vh 0 2vh 0;
  background-color: rgb(255, 255, 255, 0.35);
  border-radius: 10px;
  color: rgb(56, 56, 56);
}
main p.question {
  padding: 1%;
  margin-bottom: 2%;
  line-height: 1.25em;
}
main a.answer {
  padding: 2%;
  text-align: left;
  text-decoration: none;
  color: rgb(56, 56, 56);
  line-height: 1.25em;
}
main a.answer:hover {
  background-color: rgb(37, 27, 4, 0.5);
  color: #fff;
  border-radius: 10px;
}
main a.answer:active {
  background-color: rgb(37, 27, 4);
}
main img {
  margin: 20px auto;
  border-radius: 10px;
}
img.photo{
  height:auto;
  width:90vw;
}
/* ----------------------MAIN results------------------ */
main div#punctuation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Langar', cursive;
  font-size: 3.5vh;
  padding-top: 5vh;
  line-height: 1.25em;
  border-radius: 10px;
  padding: 4%;
}
.results{
  font-family: 'Harryp';
  color: #000;
  font-size:1.5em;
  margin-top: 4vh;
}
text{
  padding: 3%;
}
/*-------------------------FOOTER--------------------------- */
footer {
  width: 100vw;
  height: 4vh;
  background-color: rgb(37, 27, 4, 0.55);
  position: absolute;
  bottom: 0px;
}
footer div {
  font-family: 'Harryp';
  letter-spacing: 2px;
  /* font-family: 'Langar', cursive; */
  margin: 1vh;
  font-size: 2vh;
  text-align: center;
}

/* --------------------------------------------------------------------
---------------------------------MINI----------------------------------
----------------------------------------------------------------------- */
@media (max-width: 300px) {
  header a.special {
    font-size: 7vh;
    top: 20px;
  }
  main img {
    width: 90%;
    height: auto;
  }
}
/* --------------------------------------------------------------------
-------------------------------PHONES----------------------------------
----------------------------------------------------------------------- */
@media (max-width: 600px) {
  main img {
    width: 90%;
    height: auto;
  }
}
/* --------------------------------------------------------------------
--------------------------TABLETS PORTRAIT-----------------------------
----------------------------------------------------------------------- */
@media (min-width: 600px) and (max-width: 900px) {
  header {
    background-size: 15vw;
  }
  main p.message {
    width: 75vw;
  }
  main div#game {
    width: 75vw;
  }
  main img {
    width: 90%;
  }
}
/* --------------------------------------------------------------------
--------------------------TABLETS LANDSCAPE----------------------------
----------------------------------------------------------------------- */
@media (min-width: 900px) and (max-width: 1200px) {
  header {
    background-size: 12vw;
  }
  main p.message {
    width: 60vw;
  }
  main div#game {
    width: 60vw;
  }
  main img {
    width: 65%;
  }
}
/* --------------------------------------------------------------------
--------------------------------LAPTOP---------------------------------
----------------------------------------------------------------------- */
@media (min-width: 1200px) and (max-width: 1600px) {
  header {
    background-size: 10vw;
  }
  main p.message {
    width: 60vw;
  }
  main div#game {
    width: 60vw;
  }
  main img {
    width: 70%;
  }
}
/* --------------------------------------------------------------------
------------------------------BIG-LAPTOP-------------------------------
----------------------------------------------------------------------- */
@media (min-width: 1200px) and (max-width: 1590px) {
  header {
    background-size: 10vw;
  }
  main p.message {
    width: 60vw;
  }
  main div#game {
    width: 60vw;
  }
  main img {
    width: 70%;
  }
}
/* --------------------------------------------------------------------
-------------------------------DESKTOP---------------------------------
----------------------------------------------------------------------- */
@media (min-width: 1590px) and (max-width: 4000px) {
  header {
    background-size: 7.5vw;
  }
  header a.special {
    top: 10px;
  }
  main p.message {
    width: 50vw;
  }
  main div#game {
    width: 50vw;
  }
  main img {
    width: 55vh;
  }
}
